<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>
<footer>
    <nav class="navbar navbar-dark bg-dark justify-content-between" th:fragment="footer">
        <a class="navbar-brand">
            <a href="#">Twitter</a></li>
            <a href="#">Facebook</a></li>
            <a href="#">TARDIS</a></li>
        </a>
        <span class="copyright" style="color: white">Copyright BBC/Terry Nation 1963</span>
    </nav>
</footer>
</body>
</html>
