<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{css/style.css}"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.13.0/css/all.css}"/>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.5.0/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>

    <title>Doctor Sign In</title>
</head>

<body>
<!-- header start -->
<div th:replace="~{fragments/header :: header}"></div>
<!-- header end -->

<ul class="doctor-list">
    <li><a href="/doctor/?number=1&name=William%20Hartnell">Doctor 1</a></li>
    <li><a href="/doctor/?number=2&name=Patrick%20Troughton">Doctor 2</a></li>
    <li><a href="/doctor/?number=3&name=Jon%20Pertwee">Doctor 3</a></li>
    <li><a href="/doctor/?number=4&name=Tom%20Baker">Doctor 4</a></li>
    <li><a href="/doctor/?number=5&name=Peter%20Davison">Doctor 5</a></li>
    <li><a href="/doctor/?number=6&name=Colin%20Baker">Doctor 6</a></li>
    <li><a href="/doctor/?number=7&name=Sylvester%20McCoy">Doctor 7</a></li>
    <li><a href="/doctor/?number=8&name=Paul%20McGann">Doctor 8</a></li>
    <li><a href="/doctor/?number=9&name=Christopher%20Eccleston">Doctor 9</a></li>
    <li><a href="/doctor/?number=10&name=David%20Tennant">Doctor 10</a></li>
    <li><a href="/doctor/?number=11&name=Matt%20Smith">Doctor 11</a></li>
    <li><a href="/doctor/?number=12&name=Peter%20Capaldi">Doctor 12</a></li>
    <li><a href="/doctor/?number=13&name=Jodie%20Whittaker">Doctor 13</a></li>
    <li><a href="/doctor/">Unknown Doctor</a></li>
</ul>

<!-- footer start -->
<div th:replace="~{fragments/footer :: footer}"></div>
<!-- footer end -->

</body>
</html>
